<div class = "container">
  <div class = "row">
    <div class = "col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h1>Create Task</h1>
      <form class = "form-horizontal" (ngSubmit)="create(taskDate.value, taskTitle.value, taskDesc.value, taskPriority.value)">
        <div class = "form-group">
          <label for = "date">Date: </label>
          <input type = "text" id = "date" class = "form-control" name = "txtDate" required [(ngModel)] = "task.date" #taskDate>
        </div>

        <div class = "form-group">
          <label for = "title">Title: </label>
          <input type = "text" id = "title" class = "form-control"  name = "txtTitle" required [(ngModel)] = "task.title" #taskTitle>
        </div>
        <div class = "form-group">
          <label for = "description">Description: </label>
          <input type = "text" id = "description" class = "form-control"  name = "txtDesc" required [(ngModel)] = "task.description" #taskDesc>
        </div>
        <div class="form-group">
          <label for="priority">Priority:</label>
          <select class="form-control" id="priority"  name = "txtPriority" required [(ngModel)] = "task.priority" #taskPriority>
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
          </select>
        </div>
        <div class = "form-group">
          <input type = "submit" class = "btn btn-primary" value = "Create Task" id = "btnSubmit">
        </div>
      </form>
    </div>
  </div>
</div>
